# ----------------------------------------------------------------------
# .gitignore
# ----------------------------------------------------------------------
# This .gitignore file ignores all files and directories by default,
# with exceptions added for specific files that need to be tracked by
# Git.
# ----------------------------------------------------------------------

*

# Git & GitHub internal needs ------------------------------------------
# ----------------------------------------------------------------------
!.gitignore
!.github


# Meta & Common --------------------------------------------------------
# ----------------------------------------------------------------------
!aliases
!LICENSE
!makefile
!README.md


# Packages -------------------------------------------------------------
# ----------------------------------------------------------------------

# Zsh
!zsh
!zsh/.config
!zsh/.config/zsh
!zsh/.config/zsh/.zprofile
!zsh/.config/zsh/.zshrc
!zsh/.zshenv
