# .gitignore
# ----------------------------------------------------------------------
# Ignores all files and directories by default, with exceptions added
# for specific files that need to be tracked by Git.
# ----------------------------------------------------------------------

*

# Meta & Common
!aliases
!LICENSE
!makefile
!README.md

# Zsh Package
!zsh
!zsh/.config
!zsh/.config/zsh
!zsh/.config/zsh/.zprofile
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/ohmyzsh-custom
!zsh/.config/zsh/ohmyzsh-custom/themes
!zsh/.config/zsh/ohmyzsh-custom/themes/*
!zsh/.zshenv
