# ----------------------------------------------------------------------
# .gitignore -----------------------------------------------------------
# ----------------------------------------------------------------------
# This .gitignore file ignores all files and directories by default,
# with exceptions added for specific files that need to be tracked by
# Git.
# ----------------------------------------------------------------------

*

# Git & GitHub internal needs ------------------------------------------
# ----------------------------------------------------------------------
!.gitignore
!.github


# Git & GitHub internal needs ------------------------------------------
# ----------------------------------------------------------------------
!LICENSE
!makefile
!README.md


# Packages -------------------------------------------------------------
# ----------------------------------------------------------------------

# Zsh
!zsh
!zsh/.zshenv
